NEXT_PUBLIC_SUPABASE_URL=https://cstueabttriolbooegmi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
CONTACT_TO_EMAIL=registry@pan21.com
CONTACT_FROM_EMAIL=noreply@pan21.com
NEXT_PUBLIC_SITE_URL=https://companieshouse.info
